In [2]:
import pandas as pd

In [4]:
df = pd.read_json("Kindle_Store_5.json", lines = True)

In [33]:
df = df[df["unixReviewTime"] > 1451628000] #drop any records before Jan 1, 2015
df = df.drop(labels = ["reviewTime", "image", "style"], axis=1) #drop unnecessary columns
df = df.reset_index(drop=True) #reset index

In [48]:
df.to_csv("")

,overall,verified,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote
0,5,True,A8WQ7MAG3HFOZ,B000FA5KK0,Alverne F. Anderson,"Love Max, always a fun twist",Five Stars,1473984000,NaN
1,5,True,A1E0MODSRYP7O,B000FA5KK0,Jeff,"As usual for him, a good book",a good,1456963200,NaN
2,3,False,A35CCGJDNXUDY9,B000FA671Q,Sandra,This story opens with Nicholas Van Tassel surv...,All He Ever Wanted: What Would He Be Willing t...,1462579200,NaN
3,5,True,AFVJCR70132Z,B000FBFMHU,Cecile O.,This book was well written and well edited. It...,Great book,1518480000,NaN
4,3,False,A1C97CZ8GVFMY5,B000FBFMHU,Joe Kessler,"All things considered, I think the 2002 movie ...",Just watch the movie instead,1515456000,NaN
...,...,...,...,...,...,...,...,...,...
784616,3,False,A3Q6HJYRJX87Z9,B01HJENY3Y,Tokea,Ok book but some parts just didn't add up I fe...,Cool book,1468627200,NaN
784617,5,False,A2O7HQNKCMOMUP,B01HJENY3Y,Angela Burnett,Kia I loved this book. I am so glad that Sky ...,Crazy Read,1468281600,NaN
784618,5,False,A38NOWP7LQI8CM,B01HJENY3Y,Treka22,This picks up where part one left off. Secret ...,Loved it,1467331200,NaN
784619,5,False,A1H9WGEEKVK0FM,B01HJENY3Y,Adrienne Jeremiah,What a beautiful ending to such a twisted begi...,Beautiful ending,1467331200,NaN
784620,5,True,AGBVBXSAJDD4H,B01HJENY3Y,Shonnikkia Francois,Honey let me tell you Ms. Kia must have been r...,Glad Tuesday received her happy ever after,1467331200,NaN

In [49]:
df.memory_usage()

Index                 128
overall           6276968
verified           784621
reviewerID        6276968
asin              6276968
reviewerName      6276968
reviewText        6276968
summary           6276968
unixReviewTime    6276968
vote              6276968
dtype: int64

In [10]:
test["Clean Date"] = pd.to_datetime(test["unixReviewTime"], unit="s")

C:\Users\cscam\AppData\Local\Temp/ipykernel_78720/2992066355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Clean Date"] = pd.to_datetime(test["unixReviewTime"], unit="s")

ASIN Lookup: https://amazon-asin.com/asincheck/?product_id=B000FA5KK0

Columns to Drop


DROP reviewTime
DROP image

DROP anything before 1/1/2010?

In [25]:
pd.set_option("display.max_rows", 20)


test = test[test["unixReviewTime"] > 1262325600]
test.head(100)
#1262325600

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,Clean Date
0,4,True,"07 3, 2014",A2LSKD2H9U8N0J,B000FA5KK0,{'Format:': ' Kindle Edition'},sandra sue marsolek,"pretty good story, a little exaggerated, but I...",pretty good story,1404345600,NaN,NaN,2014-07-03
1,5,True,"05 26, 2014",A2QP13XTJND1QS,B000FA5KK0,{'Format:': ' Kindle Edition'},Tpl,"If you've read other max brand westerns, you k...",A very good book,1401062400,NaN,NaN,2014-05-26
2,5,True,"09 16, 2016",A8WQ7MAG3HFOZ,B000FA5KK0,{'Format:': ' Kindle Edition'},Alverne F. Anderson,"Love Max, always a fun twist",Five Stars,1473984000,NaN,NaN,2016-09-16
3,5,True,"03 3, 2016",A1E0MODSRYP7O,B000FA5KK0,{'Format:': ' Kindle Edition'},Jeff,"As usual for him, a good book",a good,1456963200,NaN,NaN,2016-03-03
4,5,True,"09 10, 2015",AYUTCGVSM1H7T,B000FA5KK0,{'Format:': ' Kindle Edition'},DEHS - EddyRapcon,MB is one of the original western writers and ...,A Western,1441843200,2,NaN,2015-09-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,5,True,"02 8, 2014",ABW554JXEMB4H,B000FBFM1G,NaN,Glenn A. Hendricks,"Chandler is known for Marlowe. Rightly so, Ph...",Top notch pulp,1391817600,NaN,NaN,2014-02-08
146,5,False,"01 17, 2011",A10K3DLOEVMKW3,B000FBFM1G,NaN,Paul Rooney,"Unfortunately, I believe this is the last coll...",Unfortunately the last,1295222400,NaN,NaN,2011-01-17
147,5,False,"08 19, 2010",A1G37DFO8MQW0M,B000FBFM1G,NaN,C. M Mills,Ross MacDonald wrote of his crime fiction ment...,"Raymond Chandler's ""The Simple Art of Murder"" ...",1282176000,NaN,NaN,2010-08-19
148,4,False,"07 8, 2010",A1UMVK332GJ0PO,B000FBFM1G,NaN,Daniel J. Connelly,The Simple Art Of Murder is worth reading for ...,"classic essay, historical shorts",1278547200,NaN,NaN,2010-07-08
149,4,True,"07 7, 2010",A25E01HTNT53KL,B000FBFM1G,NaN,James M. Rawley,There is a linked table of contents in the Kin...,Kindle edition has table of contents,1278460800,NaN,NaN,2010-07-07

Project Steps:
- Data Cleaning / Loading
- Data Scaling / Prep for ML Model
- NLP Model Training / Creation
-

In [16]:
new = test["style"].unique()

TypeError: unhashable type: 'dict'