In [1]:
import pandas as pd

In [2]:
df = pd.read_json("Kindle_Store_5.json", lines = True)

In [14]:
df = df[df["unixReviewTime"] > 1451628000] #drop any records before Jan 1, 2015
df = df.drop(labels = ["reviewTime", "image", "style", "reviewerName"], axis=1) #drop unnecessary columns
df = df[df["verified"] == True] #drop unverified reviews
df = df.assign(newReviewTime = pd.to_datetime(df["unixReviewTime"], unit="s")) #update time to unix
df = df.drop(labels = ["unixReviewTime"], axis=1) #drop unnecessary columns
df = df.reset_index(drop=True) #reset index

In [15]:
df

,overall,verified,reviewerID,asin,reviewText,summary,vote,newReviewTime
0,5,True,A8WQ7MAG3HFOZ,B000FA5KK0,"Love Max, always a fun twist",Five Stars,NaN,2016-09-16
1,5,True,A1E0MODSRYP7O,B000FA5KK0,"As usual for him, a good book",a good,NaN,2016-03-03
2,5,True,AFVJCR70132Z,B000FBFMHU,This book was well written and well edited. It...,Great book,NaN,2018-02-13
3,5,True,A35TPI5B6O08A0,B000FBFMHU,This true story is amazing. All the things he...,Amazing,NaN,2017-09-08
4,5,True,A25VQSS06RDWMJ,B000FBFMHU,It was a fun adventure to read.,Five Stars,NaN,2017-05-14
...,...,...,...,...,...,...,...,...
459266,4,True,A2GCEOF7KVQK1U,B01HJCNGZ2,Cute picture book for students in the primary ...,CAT CITY CAPER,NaN,2016-11-16
459267,5,True,A3ETWQJ8WRQFHX,B01HJCNGZ2,"I love the three kittens, Charlie, Grace, and ...","Kitties, Pirates and Dawg!",NaN,2016-08-09
459268,5,True,ARKWPH17ITFGS,B01HJCNGZ2,My son has read (and fallen in love) with seve...,) I think this is the best book that Mr,NaN,2016-07-15
459269,5,True,AQ62OQDHMHBLY,B01HJCNGZ2,This is a fun story about three cats in the ci...,Cat Pirates!,NaN,2016-06-29
459270,5,True,AGBVBXSAJDD4H,B01HJENY3Y,Honey let me tell you Ms. Kia must have been r...,Glad Tuesday received her happy ever after,NaN,2016-07-01

In [16]:
df.to_csv("Kindle_Reviews.csv")

ASIN Lookup: https://amazon-asin.com/asincheck/?product_id=B000FA5KK0

Columns to Drop


DROP reviewTime
DROP image

DROP anything before 1/1/2010?

Project Steps:
- Data Cleaning / Loading
- Data Scaling / Prep for ML Model
- NLP Model Training / Creation
-