In [1]:
import pandas as pd

In [2]:
df = pd.read_json("Kindle_Store_5.json", lines = True)

In [3]:
df = df[df["unixReviewTime"] > 1451628000] #drop any records before Jan 1, 2015
df = df.drop(labels = ["reviewTime", "image", "style", "reviewerName"], axis=1) #drop unnecessary columns
df = df[df["verified"] == True]
df = df.reset_index(drop=True) #reset index

In [16]:
df = df.reset_index(drop=True) #reset index
df

,overall,verified,reviewerID,asin,reviewText,summary,unixReviewTime,vote
0,5,True,A8WQ7MAG3HFOZ,B000FA5KK0,"Love Max, always a fun twist",Five Stars,1473984000,NaN
1,5,True,A1E0MODSRYP7O,B000FA5KK0,"As usual for him, a good book",a good,1456963200,NaN
2,5,True,AFVJCR70132Z,B000FBFMHU,This book was well written and well edited. It...,Great book,1518480000,NaN
3,5,True,A35TPI5B6O08A0,B000FBFMHU,This true story is amazing. All the things he...,Amazing,1504828800,NaN
4,5,True,A25VQSS06RDWMJ,B000FBFMHU,It was a fun adventure to read.,Five Stars,1494720000,NaN
...,...,...,...,...,...,...,...,...
459266,4,True,A2GCEOF7KVQK1U,B01HJCNGZ2,Cute picture book for students in the primary ...,CAT CITY CAPER,1479254400,NaN
459267,5,True,A3ETWQJ8WRQFHX,B01HJCNGZ2,"I love the three kittens, Charlie, Grace, and ...","Kitties, Pirates and Dawg!",1470700800,NaN
459268,5,True,ARKWPH17ITFGS,B01HJCNGZ2,My son has read (and fallen in love) with seve...,) I think this is the best book that Mr,1468540800,NaN
459269,5,True,AQ62OQDHMHBLY,B01HJCNGZ2,This is a fun story about three cats in the ci...,Cat Pirates!,1467158400,NaN
459270,5,True,AGBVBXSAJDD4H,B01HJENY3Y,Honey let me tell you Ms. Kia must have been r...,Glad Tuesday received her happy ever after,1467331200,NaN

In [5]:
df.to_csv("test.csv")

In [12]:
test.loc[:,"unixReviewTime"] = pd.to_datetime(test["unixReviewTime"], unit="s")

C:\Users\cscam\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [9]:
times = pd.to_datetime(test["unixReviewTime"], unit="s")
times

0     2016-09-16
1     2016-03-03
2     2016-05-07
3     2018-02-13
4     2018-01-09
         ...
995   2016-02-14
996   2016-02-11
997   2016-02-10
998   2017-12-30
999   2017-08-23
Name: unixReviewTime, Length: 1000, dtype: datetime64[ns]

ASIN Lookup: https://amazon-asin.com/asincheck/?product_id=B000FA5KK0

Columns to Drop


DROP reviewTime
DROP image

DROP anything before 1/1/2010?

Project Steps:
- Data Cleaning / Loading
- Data Scaling / Prep for ML Model
- NLP Model Training / Creation
-