In [2]:
import pandas as pd

In [3]:
df = pd.read_json("Kindle_Store_5.json", lines = True)

In [4]:
df

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,4,True,"07 3, 2014",A2LSKD2H9U8N0J,B000FA5KK0,{'Format:': ' Kindle Edition'},sandra sue marsolek,"pretty good story, a little exaggerated, but I...",pretty good story,1404345600,NaN,NaN
1,5,True,"05 26, 2014",A2QP13XTJND1QS,B000FA5KK0,{'Format:': ' Kindle Edition'},Tpl,"If you've read other max brand westerns, you k...",A very good book,1401062400,NaN,NaN
2,5,True,"09 16, 2016",A8WQ7MAG3HFOZ,B000FA5KK0,{'Format:': ' Kindle Edition'},Alverne F. Anderson,"Love Max, always a fun twist",Five Stars,1473984000,NaN,NaN
3,5,True,"03 3, 2016",A1E0MODSRYP7O,B000FA5KK0,{'Format:': ' Kindle Edition'},Jeff,"As usual for him, a good book",a good,1456963200,NaN,NaN
4,5,True,"09 10, 2015",AYUTCGVSM1H7T,B000FA5KK0,{'Format:': ' Kindle Edition'},DEHS - EddyRapcon,MB is one of the original western writers and ...,A Western,1441843200,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2222978,3,False,"07 16, 2016",A3Q6HJYRJX87Z9,B01HJENY3Y,{'Format:': ' Kindle Edition'},Tokea,Ok book but some parts just didn't add up I fe...,Cool book,1468627200,NaN,NaN
2222979,5,False,"07 12, 2016",A2O7HQNKCMOMUP,B01HJENY3Y,{'Format:': ' Kindle Edition'},Angela Burnett,Kia I loved this book. I am so glad that Sky ...,Crazy Read,1468281600,NaN,NaN
2222980,5,False,"07 1, 2016",A38NOWP7LQI8CM,B01HJENY3Y,{'Format:': ' Kindle Edition'},Treka22,This picks up where part one left off. Secret ...,Loved it,1467331200,NaN,NaN
2222981,5,False,"07 1, 2016",A1H9WGEEKVK0FM,B01HJENY3Y,{'Format:': ' Kindle Edition'},Adrienne Jeremiah,What a beautiful ending to such a twisted begi...,Beautiful ending,1467331200,NaN,NaN
2222982,5,True,"07 1, 2016",AGBVBXSAJDD4H,B01HJENY3Y,{'Format:': ' Kindle Edition'},Shonnikkia Francois,Honey let me tell you Ms. Kia must have been r...,Glad Tuesday received her happy ever after,1467331200,NaN,NaN

In [3]:
df = df[df["unixReviewTime"] > 1451628000] #drop any records before Jan 1, 2015
df = df.drop(labels = ["reviewTime", "image", "style", "reviewerName"], axis=1) #drop unnecessary columns
df = df[df["verified"] == True] #drop unverified reviews
df = df.assign(newReviewTime = pd.to_datetime(df["unixReviewTime"], unit="s")) #update time to unix
df = df.drop(labels = ["unixReviewTime"], axis=1) #drop unnecessary columns
df = df.drop(labels = ["verified"], axis=1)

df['reviewerID'] = df['reviewerID'].astype(pd.StringDtype())
df['asin'] = df['asin'].astype(pd.StringDtype())
df['reviewText'] = df['reviewText'].astype(pd.StringDtype())
df['summary'] = df['summary'].astype(pd.StringDtype())
df['vote'] = df['vote'].astype(pd.StringDtype())
df['overall'] = df['overall'].astype(pd.Int16Dtype())
df = df[df["vote"] != "<NA>"]
df['vote'] = df['vote'].astype(int)


df = df.reset_index(drop=True) #reset index

In [32]:
df.to_csv("Kindle_Reviews_Short.csv")

In [34]:
short = df.head(1000)
short.to_csv("Kindle_Reviews_1000.csv")

ASIN Lookup: https://amazon-asin.com/asincheck/?product_id=B000FA5KK0

Columns to Drop


DROP reviewTime
DROP image

DROP anything before 1/1/2010?

Project Steps:
- Data Cleaning / Loading
- Data Scaling / Prep for ML Model
- NLP Model Training / Creation
-